<h1>Welcome to Dublin Car Rentals</h1>
<h2>We stock a wide range of vehicles to fit your every need!</h2>
<h3>Please register here to take a look at our inventory. </h3>
Page loaded at: <%= @variable1 %>