<h1><p>Welcome to Dublin Car Rentals</h1></p>
<h2><p>We stock a wide range of vehicles to fit your every need!</h2></p>
<h3><p>Please <%= link_to "register here", new_user_path %> to take a look at our inventory. </h3></p>
Page loaded at: <%= @variable1 %>