<div id = "imageone">
	<img src = "luxurycars.jpg">
</div>
<h2 align = 'middle'>Welcome to Dublin Car Rentals.
<h2 align = 'middle'>We are here for all your rental needs.</h2>
<h2 align = 'middle'>We stock a wide range of vehicles to suit every driver.</h2>
<h2 align = 'middle'>Please <%= link_to "register here", new_user_path %> to take a look at our inventory. </h3>
<h2 align = 'middle'>Already registered? <%= link_to "Log in here", login_path %> to sign in and make a reservation</h3>
<li>Application by: Adam McKnight, C12542573</li>
<li>Application name; Carrental</li>
<li>GitHub; https://github.com/adammcknight</li>
<li>Page loaded at: <%= @variable1 %></li>