<DOCTYPE html>
<html>
<head>
	<meta content= "text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
	<body>
		<h1>Thank you for registering with Car Rentals Dublin, <%= @user.name%></h1>
		<p>Please head over to localhost:3000/login to sign in with he details you supplied.</p>
		<p>Happy renting!</p>
	</body>
</html>