/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 h1{
	 font-size:1.5em;
	 line-height:1;
	 margin-bottom:1em;
	 color:red;
 }
 
 h2{
	 font-size:1.5em;
	 line-height:1;
	 margin-bottom:1em;
	 color:black;
 }
 
 h3{
	 font-size:1.5em;
	 line-height:1;
	 margin-bottom:1em;
	 color:yellow;
 }

 #banner {
  background: #01A9DB;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Arial";
  color: #0101DF;
  text-align: center;

  img {
    float: left;
  }
}


#columns {
  background: blue;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

//#START:side
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: yellow;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     black;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #01A9DB;
          font-size: small;
        }
      }
    }
  }
//#END:side
} #end columns

#nav {
  float: right;
}

#nav {
  background-color: #01A9DB;
  padding: 0 0.7em;
  white-space: nowrap;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #2EFEF7;
}

#nav ul li a:visited {
  color: #09c;
}

#nav ul li a:hover {
  text-decoration: underline;
  }
